parameters:
    level: 6
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/bitexpert/phpstan-magento/autoload.php
    ignoreErrors:
        - '#(class|type) Magento\\TestFramework#i'
        - '#(method) Magento\\Framework\\Api\\ExtensionAttributesInterface#i'
includes:
	- vendor/bitexpert/phpstan-magento/extension.neon
